---
import Boton from "../components/Boton.astro";
const { image, tipo, marca, titulo, precio, id } = Astro.props;
const imagenSrc = image ? `data:${tipo};base64,${image}` : "/placeholder.jpg";
---

<div
  data-nombre={titulo}
  class="cardProducto w-[150px] md:w-[180px] h-[250px] md:h-[292px] xl:h-[300px] xl:w-[200px] my-1 bg-white dark:bg-gray-400 shadow-xl hover:shadow-black/20 hover:dark:shadow-white/30 border-2 dark:border-white rounded flex flex-col justify-center items-center hover:scale-105"
>
  <a href={`/producto/${id}`}>
    <img
      class="imagen w-full h-[136px] md:h-[180px] xl:h-[190px] overflow-hidden border-t"
      src={imagenSrc}
      alt={titulo}
    />
  </a>

  <p
    class="mr-auto ml-2 w-30 overflow-hidden font-semibold text-blue-700 h-[16px] text-[0.833rem] my-1"
  >
    {marca}
  </p>
  <h4
    class="overflow-hidden text-black text-[1rem] mx-1.5 md:mx-3 leading-[15px] h-[32px]"
  >
    {titulo}
  </h4>
  <p class="h-[13px] my-1 font-bold text-red-700 text-[0.833rem]">
    S/ {precio}
  </p>
  <Boton
    text="Agregar al carrito"
    color="bg-amarillo"
    hoverColor="hover:bg-dorado"
    tipo="button"
    clasAdd="añadir-Carrito"
    codigo={id}
  />
</div>
